<!DOCTYPE html>
<html lang="en">
    <%- include ('layouts/header'); -%>
    <body>
        <%- include ('layouts/navbar'); -%>
        <%- include ('layouts/hero'); -%>

        <!-- main content -->
        <h1>Add Appointment Slots</h1>
        <form action="/admin/appointment/add" method="post">
            <label for="appointmentDate">Select Date:</label>
            <input type="date" id="appointmentDate" name="date" required>

            <label for="appointmentTime">Select Time:</label>
            <select id="appointmentTime" name="time" required>
                <option value="9:00">9:00</option>
                <option value="9:30">9:30</option>
                <option value="10:00">10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
                <option value="11:30">11:30</option>
                <option value="12:00">12:00</option>
                <option value="12:30">12:30</option>
                <option value="13:00">13:00</option>
                <option value="13:30">13:30</option>
                <option value="14:00">14:00</option>
            </select>

            <button type="submit">Add Slot</button>
        </form>

        <%- include ('layouts/scripts'); -%>
    </body>
</html>
